@page "/Produto/CadastroProduto"

@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Produtos</h3>

<div class="card m-3">
    <h4 class="card-header">Cadastro do Usuário</h4>
    <div class="card-body">
        <EditForm Model="@produto" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Nome</label>
                    <InputText @bind-Value="produto.Nome" class="form-control" />
                    <ValidationMessage For="@(() => produto.Nome)" />
                </div>
                <div class="form-group col-5">
                    <label>Descrição</label>
                    <InputText @bind-Value="produto.Descricao" class="form-control" />
                    <ValidationMessage For="@(() => produto.Descricao)" />
                </div>
                <div class="form-group col-5">
                    <label>Valor</label>
                    <InputNumber @bind-Value="produto.Valor" class="form-control" />
                    <ValidationMessage For="@(() => produto.Valor)" />
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Produto produto = new Produto();
    private EditContext editContext { get; set; }

    private async Task HandleValidSubmit()
    {
        //Enviar dados para o Controller no Backend
        var teste = await Http.PostAsJsonAsync("/Produto/Create", produto);
        NavigationManager.NavigateTo("produto/CadastroProduto");

    }

    private void HandleReset()
    {
        produto = new Produto();
        editContext = new EditContext(produto);
    }

}
